################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/turtle/v15/ipch/AutoPCH/17f5447f1a5f5d15/MAIN.ipch
